body {
  font-family: Rokkitt, sans-serif;
  background-color: #dfe7e2;
}

/* STYLING FOR THE LANDING PAGE */

/* Styling for the navigation bar with two links and a title */

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

h3,
.new-link,
.library-link {
  color: white;
}

header {
  background-color: black;
}

.storyteller {
  font-size: 1.5rem;
}

.storyteller:hover {
  cursor: pointer;
}

/* styling the all the images */

.img-styling {
  width: 100%;
  margin-top: 3rem;
  border-radius: 5px;
}

/* Styling for the button on the landing page */

.try-it-div {
  text-align: center;
  margin-top: 6rem;
}

.try-it-btn {
  text-align: center;
  padding: 1rem 5rem;
  font-family: Rokkitt, sans-serif;
  font-size: 2rem;
  color: white;
  background-color: #a13629;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 5px gray;
}

/* Styling for the landing page paragraph */

.landing-para-div {
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: #a13629;
}

/* STYLING FOR THE ENTRY PAGE */

/* styling for the input and textareas */
input,
textarea {
  width: 100%;
  border: solid 2px lightgrey;
  border-radius: 5px;
}

/* specific styling for the title input field */
input {
  padding: 1rem 0;
  text-align: center;
  font-size: 18px;
  font-family: Rokkitt, sans-serif;
}

.story-inputs {
  margin: 1rem 0;
}

label {
  display: inline-block;
  padding-bottom: 0.5rem;
}

/* styling for the SAVE button */

.save-btn-div {
  margin: 1rem 0;
}

.save-right {
  justify-content: right;
}

.save-btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
}

/* styling for the story library page */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.library-title {
  margin-top: 3rem;
  margin-bottom: 0;
  color: black;
}

.library-para {
  max-height: 20vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Styling for the icon when editing an entry */
.edit-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

i {
  margin-top: 3rem;
}

/* styling for the link that allows a user to delete an entry */

.column-link {
  width: 50%;
  margin: 0;
  display: flex;
  align-items: center;
}

.opposite-ends {
  display: flex;
}

.delete-link {
  align-items: center;
  justify-content: left;
}

.delete-btn {
  color: white;
  background-color: #a13629;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
}

/* modal stlying for when a user clicks delete on a story */

.bg-modal {
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.display-not {
  display: none;
}

.display {
  display: flex;
}

.modal-content {
  height: 150px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-button {
  color: white;
  background-color: red;
  font-size: 14px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px black;
}

.cancel-button {
  color: black;
  background-color: lightgrey;
  font-size: 14px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
}

.btns-div {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
